{
  "mongo": {
    "username": "YOUR_MONGO_USERNAME",
    "password": "YOUR_MONGO_PASSWORD",
    "host": "YOUR_CLUSTER_NAME.mongodb.net",
    "app_name": "Cluster0",
    "shards": [
      "YOUR_CLUSTER_NAME-shard-00-00.mongodb.net",
      "YOUR_CLUSTER_NAME-shard-00-01.mongodb.net",
      "YOUR_CLUSTER_NAME-shard-00-02.mongodb.net"
    ],
    "port": 27017,
    "auth_source": "admin"
  }
}
